<h2>Lista de posts</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova postagem</button></a>


{{#each postagens}}
    <div class="card mt-2">
        <div class="card-body mt-2">
            <h4>{{titulo}}</h4>
            <small>slug: {{slug}}</small>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Editar postagem</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-3">Deletar postagem</button></a>
        </div>
    </div>
    <br>
    <hr>

{{else}}
    <div class="card  mt-3">
        <div class="card-body">
            <h4>Nenhum post foi registrada até o momento.</h4>
        </div>
    </div>

{{/each}}